/* text font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work_sans_font {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}



/* share styles  */
.display_flex,
.teams{
    display: flex;
}
.bg_color{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark_01{
    color: #131313;
}
.dark_02{
    color: #424242;
}

.dark_03{
    color: #727272;
}
.btn_primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;  
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main> section{
    margin-top: 130px;
}
/* header styles */

/* navbar styles */
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav_item{
    list-style: none;
    margin-right: 30px;
}
.nav_link{
    text-decoration: none;
    font-weight: 500px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner_title{
    font-weight: 700;
    font-size: 4rem;
}
.banner_img img{
    width: 100%;
}
/* feature team  */
.teams{
    align-items: center;
}
.team_img_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our_feature{
    margin-left: 130px;
    max-width: 530px;
}
.feature_title{
    font-size: 2.8rem;
}
#quick_list{
    font-weight: 500;
}
#our{
    font-weight: bold;
}
#Features{
    color: #FF900E;
    font-weight: bold;
}
/* responsive media query */

@media screen and (max-width:576px){
    .navbar, 
    .nav_link,
    .teams{
        flex-direction: column;
    }
    
    .team_img_container{
        grid-template-columns: repeat(1,1fr);
        
    }
    .our_feature{
        margin-left: 20px;
    }

   


}

/* medium size responsive */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our_feature{
        margin-left: 50px auto;
    }
}